
.form-control.is-invalid, .was-validated .form-control:invalid,
.form-select.is-invalid, .was-validated .form-select:invalid {
    border-color: #dc3545 !important;
}

.is-invalid{
    border-color: #ff0000;
}

.pointer{
    cursor:pointer;
}

.top-bar-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header-payment-details{
    background-color: #0078b9;
    padding: 10px 25px;
}
.top-header-payment-details img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.leave-summary{
    border: 1px solid #888;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px 0px;
}
.leave-summary .label-summary{
    color: black !important;
}
.leave-summary .value-summary{
    color: gray;
}
.detail-image-top{
    display: flex;
    align-items: center;    
}
    